@media (max-width: 1024px) {
  .home .content-home .box-detail {
    margin-left: 50px;
  }
}

/* Tablet */

/* mobile */
@media screen and (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  nav ul {
    position: absolute;
    background-color: black;
    right: 0;
    top: 0;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transform: translateY(-100%);
    transition: all 0.5s;
    opacity: 0;
    width: 100%;
  }

  nav ul.slide {
    transform: translate(0%);
    opacity: 1;
  }

  .about-me .about-content .detail-text {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0;
    padding-top: 30px;
  }

  .about-me .about-content .image {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .portofolio {
    grid-template-areas:
      "hero"
      "feature-1"
      "feature-2"
      "hero1"
      "feature-3"
      "feature-4";
  }
  .home .content-home .box-detail {
    margin-left: 25px;
  }

  .home .content-home .box-detail h1 {
    font-size: 2.4em;
  }

  .home .content-home .box-detail h6 {
    font-size: 1.2em;
  }
  .home .content-home .box-detail h6 {
    font-size: 0.9em;
  }

  .about-me .about-content .detail-text .information .info p {
    flex: 0 0 100%;
  }

  .hero1 {
    min-height: 300px;
  }

  .hero {
    min-height: 300px;
  }

  .feature-1 {
    min-height: 300px;
  }

  .feature-2 {
    min-height: 300px;
  }

  .feature-3 {
    min-height: 300px;
  }

  .feature-4 {
    min-height: 300px;
  }
}
